body{
    margin:0px;
    font-family: 'Titillium Web', sans-serif;

}

  
h1{
    margin: 0px;
}


.rooter{
    
    background: url(../images/bg.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-origin: border-box;
    /* background-color:yellowgreen; */
    height:1000px;
  
}

.header{
    display: flex;
    justify-content: space-between;

}

.header img{
   width: 120px;
   height:120px;
}

#side_btn{
 
    color:white;
}

.caption_box{
    
   
  
  
}
.features{
    background-color: deeppink;
}
.get_started{
    background-color: cadetblue;
}
.footer{
    background-color: darksalmon;
}